.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px;
}
.inside-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(27, 26, 26);
  height: auto;
  width: 500px;
}
.title-lg {
  color: white;
  font-size: 32px;
  margin-bottom: 0;
}
.title-md {
  color: rgb(96, 96, 96);
  font-size: 16px;
}
.title-sm {
  margin-top: 10px;
  color: rgb(138, 138, 138);
}
.year-name {
  display: flex;
  align-items: center;
}

.info-icon {
  color: grey;
  margin-left: 12px;

  width: 14px;
}

.budget-year-input {
  border: 1px solid grey;
  background-color: rgb(27, 26, 26);
  color: white;
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
}
#parameter-text {
  color: rgb(224, 223, 223);
  font-size: 18px;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}
.parameter-input {
  border: 1px solid grey;
  background-color: rgb(27, 26, 26);
  color: white;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 25px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
}
.prefix-icon,
.suffix-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(121, 120, 120);
}

.prefix-icon {
  left: 10px;
}

.suffix-icon {
  right: 10px;
}

.add-button {
  border: 0;
  background-color: white;
  padding: 10px 20px 10px 12px;
  border-radius: 50px;
  font-size: 18px;
  color: rgb(43, 32, 163);
  font-weight: bold;
  margin-top: 10px;
}
.plus {
  font-size: 20px;
  padding: 8px;
}
.add-button:hover {
  color: rgb(4, 1, 41);
  cursor: pointer;
}
